
.HolyGrail {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: black;

}

.HolyGrail-body {
  text-align: center;
  display: flex;
  flex: 1;
  background-image: url('img/img.jpeg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: 2px solid chocolate;
}

.HolyGrail-content {
  
  font-size: 20rem;
  color: rgb(252, 248, 248);
  margin: 50px;
  flex: 1;
 
}

.HolyGrail-nav, .HolyGrail-ads {
  /* 12em is the width of the columns */
  flex: 0 0 12em;
  
}

.HolyGrail-nav {
  /* put the nav on the left */
  order: -1;
  
  
}



body {
    max-width: 80rem;
    margin: 0 auto;
    
}

.text {
    color: black;
   
    padding: 2em;
    margin-bottom: 2em;
    font-size: x-large;
    text-align: center;
    
}
.button {
  width: 100px;
  text-decoration: none;
  padding: 10px;
  margin: 50px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #f0dca9;
  border-radius: 6px;
  border: 2px solid #d08b15;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #848884; /* Green */
  color: white;
}

.txttitol {
    color: #ffffff;
    margin-bottom: 2em;
    font-size: 2rem;
    text-align: center;

}

.txthist {
  border: 1px solid rgb(238, 232, 232);
  border-radius: 20px;
  

  background: rgb(241, 232, 206) transparent; 
  background: rgba(245, 227, 181, 0.6); 
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000); 
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)"; 

  
  
}



